# IAR C-STAT and C-RUN
# Comment this out if you use C-Stat or C-Run to compile/analyze your project
*.ewt

# IAR Settings
**/settings/

# IAR Debug 
**/Debug/

# IAR Debug Obj
**/Obj/*.pbd
**/Obj/*.pbd.*
**/Obj/*.pbi
**/Obj/*.pbi.*

# Log files
**.log

# IAR backup files
Backup*

# IAR .dep files
*.dep

# Compiled Binaries
*.bin
*.elf
*.hex
*.map

# Trash files
*.bak